:root {
  --background: #d3c6b4;
  --foreground: #ffffff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;
  --color1-moss-green: #2b352c;
  --color2-prairie-grass: #695d47;
  --color3-coffee: #896c4a;
  --color4-autumn: #8e511b;
  --color5-sand: #b6a48c;
  --color6-wheat: #d3c6b4;
  --color7-white: #ffffff;
}

.header {
  display: flex;
  margin: auto;
  width: 100%;
  height: fit-content;
  align-content: center;
  justify-content: space-between;
  background-color: var(--color3-coffee);
  flex-wrap: wrap;
  padding: 1rem;
  font-size: larger;
}

.imagediv {
  display: flex;
  align-content: center;
  justify-content: space-between;
}


.nav {
  margin-top: 2.5rem;
  color: var(--color7-white);
}

.hambutton {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--color7-white);
  cursor: pointer;
  position: absolute;
  top: .5rem;
  right: 1rem;
}

@media screen and (max-width: 825px) {
  .desktopNav {
    display: none;
    flex-direction: column;
  }

  .nav {
    margin: 10rem 0 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  .login {
    width: 4rem;
  }

  .nav .login {
    padding-left: 0.7rem;
  }

  .hambutton {
    display: block;
  }
}

@media screen and (max-width: 825px) {}

/* Overlay (background dimmer) */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  pointer-events: none;
  transition: background 0.3s ease;
  z-index: 20;
}

.overlayOpen {
  background: rgba(0, 0, 0, 0.5);
  pointer-events: auto;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 200px;
  background: white;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
  transform: translateX(100%);
  /* hidden off-screen */
  transition: transform 0.3s ease-in-out;
  z-index: 30;
  background-color: var(--color3-coffee);
}

.sidebarOpen {
  transform: translateX(0);
  /* slide in */
}

/* Close button */
.closebtn {
  position: absolute;
  top: .5rem;
  right: 1rem;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
}


@media screen and (max-width: 600px) {

  .header {
    padding: 1rem .5rem;
  }

  .imagediv h1 {
    font-size: x-large;
    margin-top: 2.5rem;
  }

  .loginH2 {
    font-size: x-large;
  }

  .loginButton {
    min-width: 16rem;
  }
}

@media screen and (min-width: 600px) {

  .loginH2 {
    font-size: xx-large;
  }

  .loginButton {
    min-width: 25rem;
  }
}

.a {
  margin: 0 .5rem;
  font-size: large;
}

.a:hover {
  color: var(--color6-wheat);
}

.login {
  margin: 0 .5rem;
  font-size: large;
  padding: .5rem 1rem;
  border-radius: 10px;
  background-color: var(--color2-prairie-grass);
}

.login:hover {
  background-color: var(--color1-moss-green);
}

.main {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem 0 0 0;
  min-height: 82.5vh;
  justify-content: space-between;
  background-color: var(--color6-wheat);
}

/* Home Styles */
.heroImageDiv {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.heroImageDiv img {
  width: 100%;
  height: auto;
  display: block;
}

@media screen and (min-width: 1151px) {
  .heroImageDiv .tab {
    display: none;
  }

  .heroImageDiv .mobile {
    display: none;
  }

  .heroImageDiv .desktop {
    margin: 0 auto;

  }
}

@media screen and (max-width: 1150px) {
  .heroImageDiv .desktop {
    display: none;
  }

  .heroImageDiv .mobile {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .heroImageDiv .tab {
    display: none;
  }

  .heroImageDiv .mobile {
    display: block;
    max-height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transform: scale(1.2);
    transform-origin: center;
    margin: 1rem 0 2.5rem 0;
  }
}


.heroImageDiv .tab {
  width: 100%;
  height: 510px;
  object-fit: cover;
  object-position: center;
  transform: scale(1.2);
  transform-origin: center;
}

.heroImageDiv {
  margin: 2.5rem auto;
}

@media screen and (max-width: 600px) {
  .heroImageDiv {
    margin: .9rem 0 2.5rem 0;
  }
}

@media screen and (max-width: 550px) {
  .heroImageDiv {
    margin: 0;
  }
}

.cardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 500px) {
  .cardList {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  padding: .5rem;
  margin: 1.5rem auto;
  width: 16.75rem;
  height: 450px;
  color: rgb(255, 232, 213);
}

.card:nth-child(3n+1) {
  background-color: var(--color2-prairie-grass);
}

.card:nth-child(3n+2) {
  background-color: var(--color4-autumn);
}

.card:nth-child(3n+3) {
  background-color: var(--color1-moss-green);
}

.card h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.card p {
  margin: 1rem auto 0 auto;

}

.card button {
  display: flex;
  justify-self: center;
  justify-content: center;
  width: 12rem;
  padding: .25rem;
  margin: 1rem 0 0 0;
  border: 1px solid white;
  border-radius: 5px;
  font-size: larger;
  background-color: var(--color3-coffee);
  color: var(--color6-wheat);
}

.card button:hover {
  background-color: var(--color5-sand);
  color: black;
}

/* Login Page Styles */

.loginH2 {
  color: var(--color4-autumn);
  margin: 0 auto 2rem auto;
}

.loginButton {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: .35rem .5rem;
  margin: 2rem auto;
  border: 3px solid var(--color3-coffee);
  font-size: larger;
  border-radius: 5px;
  background-color: var(--color2-prairie-grass);
  color: var(--color7-white);
}

.loginButton:hover {
  background-color: var(--color1-moss-green);
}

.loginArrow {
  width: 13px;
  margin-left: 1rem;
}

.errMessage {
  color: rgb(212, 0, 0);
  padding: .5rem;
  display: flex;
  justify-content: center;
}

.errMessage svg {
  width: 20px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}