.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;
  --color1-moss-green: #2b352c;
  --color2-prairie-grass: #695d47;
  --color3-coffee: #896c4a;
  --color4-autumn: #8e511b;
  --color5-sand: #b6a48c;
  --color6-wheat: #d3c6b4;
  --color7-white: #ffffff;


  /* display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center; */
  font-family: var(--font-geist-sans);
  /* background-color: var(--background);  */
}

.header {
  display: flex;
  width: 100%;
  height: 8rem;
  align-content: center;
  justify-content: space-between;
  background-color: var(--color3-coffee);
  color: var(--color7-white);
  flex-wrap: wrap;
  padding: 1rem;
  font-size: larger;
}

.imagediv {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.nav {
  margin-top: 2.25rem;
}

.a {
  margin: 0 .5rem;
  font-size: large;
}

.a:hover {
  color: var(--color6-wheat);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--color6-wheat);
  padding: 120px 60px;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  margin: 1.5rem;
  color: rgb(255, 232, 213);
}

.card:nth-child(3n+1) {
  background-color: var(--color2-prairie-grass);
}

.card:nth-child(3n+2) {
  background-color: var(--color4-autumn);
}

.card:nth-child(3n+3) {
  background-color: var(--color1-moss-green);
}

/* .card:nth-child(5n+4) {
  background-color: var(--color4-autumn);
}

.card:nth-child(5n+5) {
  background-color: var(--color5-sand);
} */

.card h2 {
  margin: 0 auto 1rem auto;
}

.card p {
  margin: 1rem auto 0 auto;
}

.ctas {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 440px;
  gap: 16px;
  font-size: 14px;
}

.ctas a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 128px;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
  width: fit-content;
  font-weight: 500;
}

a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}