.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;
  --color1-moss-green: #2b352c;
  --color2-prairie-grass: #695d47;
  --color3-coffee: #896c4a;
  --color4-autumn: #8e511b;
  --color5-sand: #b6a48c;
  --color6-wheat: #d3c6b4;
  --color7-white: #ffffff;


  /* display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center; */
  /* background-color: var(--background);  */
}

.header {
  display: flex;
  width: 100%;
  height: fit-content;
  align-content: center;
  justify-content: space-between;
  background-color: var(--color3-coffee);
  color: var(--color7-white);
  flex-wrap: wrap;
  padding: 1rem;
  font-size: larger;
}

.imagediv {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

@media screen and (max-width: 825px) {
  .nav {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding: 1rem .5rem;
  }

  .imagediv h1 {
    font-size: x-large;
    margin-top: 2rem;
  }

  .loginH2 {
    font-size: x-large;
  }

  .loginButton {
    min-width: 16rem;
  }
}

@media screen and (min-width: 600px) {
  .loginH2 {
    font-size: xx-large;
  }

  .loginButton {
    min-width: 25rem;
  }
}

.nav {
  margin-top: 2.5rem;
}

.a {
  margin: 0 .5rem;
  font-size: large;
}

.a:hover {
  color: var(--color6-wheat);
}

.login {
  margin: 0 .5rem;
  font-size: large;
  padding: .5rem 1rem;
  border-radius: 10px;
  background-color: var(--color2-prairie-grass);
}

.login:hover {
  background-color: var(--color1-moss-green);
}

.main {
  display: flex;
  width: 100%;
  min-height: 82.5vh;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--color6-wheat);
  padding: 20px 60px;
}

/* Home Styles */
.cardList {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  margin: 1.5rem;
  color: rgb(255, 232, 213);
}

.card:nth-child(3n+1) {
  background-color: var(--color2-prairie-grass);
}

.card:nth-child(3n+2) {
  background-color: var(--color4-autumn);
}

.card:nth-child(3n+3) {
  background-color: var(--color1-moss-green);
}

/* .card:nth-child(5n+4) {
  background-color: var(--color4-autumn);
}

.card:nth-child(5n+5) {
  background-color: var(--color5-sand);
} */

.card h2 {
  margin: 0 auto 1rem auto;
}

.card p {
  margin: 1rem auto 0 auto;
}

/* Login Page Styles */

.loginH2 {
  color: var(--color4-autumn);
  margin: 0 auto 2rem auto;
}

.loginButton {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: .35rem .5rem;
  margin: 2rem auto;
  border: 3px solid var(--color5-sand);
  font-size: larger;
  border-radius: 5px;
  background-color: var(--color2-prairie-grass);
  color: var(--color7-white);
}

.loginButton:hover {
  background-color: var(--color1-moss-green);
}

.loginArrow {
  width: 13px;
  margin-left: 1rem;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}